.floating {
  &__values {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;

      div {
        width: 100%;
        span {
          font-size: 1.4rem;
        }
      }
    }

    span {
      font-size: 2rem;
    }

    &-sign {
      width: auto;
      margin-right: 1rem;
      min-width: 10%;
    }

    &-exponent {
      width: auto;
      margin-right: 1rem;
      min-width: 20%;
    }

    &-mantissa {
      flex: 1;
    }
  }
}
