.instruction {
  &__results {
    display: flex;
    margin-bottom: 1rem;

    span {
      font-size: 2rem;
      font-weight: bold;
    }

    &-min {
      flex: 1;
    }

    &-max {
      flex: 1;
    }
  }
}
