.cheatsheet {
  height: 100%;
  &__title {
    font-size: 2rem;
    font-family: "Press Start 2P", cursive;
    margin-top: 1rem;
    color: darkslateblue;
  }

  &__header {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: "Press Start 2P", cursive;
    color: darkslateblue;
  }

  &__footer {
    padding: 1rem 0;

    a {
      color: darkslateblue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
